org: webscraping2
service: api-web-scraping-2

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  memorySize: 2048
  timeout: 90
  iam:
    role: arn:aws:iam::468251834706:role/LabRole

functions:
  scrape_table:
    handler: scrape_table.lambda_handler
    layers:
      - arn:aws:lambda:us-east-1:764866452798:layer:chrome-aws-lambda:43
    events:
      - http:
          path: /scrape/table
          method: get
          cors: true
          integration: lambda
      - http:
          path: /scrape/table
          method: post
          cors: true
          integration: lambda

resources:
  Resources:
    TablaWebScrapping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping2
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: scraped_at
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: ScrapedAtIndex
            KeySchema:
              - AttributeName: scraped_at
                KeyType: HASH
            Projection:
              ProjectionType: ALL

plugins:
  - serverless-offline

package:
  individually: true
  exclude:
    - .git/**
    - .gitignore
    - README.md
  include:
    - scrape_table.js